<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load lang_url %}
{% load capture %}
{% load json_lines_array %}
<html>
<head lang="{{ LANGUAGE_CODE }}">
    <meta charset="UTF-8">
    <title>{% block title %}Template Page{% endblock %} - osu! Beatmaps</title>
    <link href="{% static 'website/styles/style.css' %}" rel="stylesheet" type="text/css"/>
    <!--[if IE]>
    <link href="{% static 'website/styles/ie.css' %}" rel="stylesheet" type="text/css" />
	<![endif]-->
    <script src="{% static 'website/scripts/jquery-1.9.1.min.js' %}" language="javascript"
            type="text/javascript"></script>
    <script src="{% static 'website/scripts/script.js' %}" language="javascript" type="text/javascript"></script>
    {% get_available_languages as languages %}

    {% for lang_code, lang_name in languages %}
        <link rel="alternate" hreflang="{{ lang_code }}" href="{% change_lang lang_code %}" />
    {% endfor %}
    <link rel="alternate" hreflang="x-dafault" href="{% remove_lang %}" />
</head>
<body class="custom_bg a-font">
<div class="container">

    <header class="header"><a href="{% url 'website:index' %}" class="header_title">osu! Beatmaps</a>
        {% capture lang_switch_html %}
            <aside class="language_switch">
                <select id="language-selection" onchange="return redirect_to($(this).val()) || true;">
                    {% for lang_code, lang_name in languages %}
                        <option value="{% change_lang lang_code %}" {% if LANGUAGE_CODE == lang_code %}
                                selected {% endif %}> {{ lang_code|language_name_local }}</option>
                    {% endfor %}
                </select>
            </aside>
        {% endcapture %}
        <script language="javascript" type="text/javascript">
            var lang_switch_html = [];
            lang_switch_html = {{ lang_switch_html|json_lines_array }};
            document.write(lang_switch_html.join(' '));
            lang_switch_html = undefined;
        </script>
    </header>


    <nav class="nav">
        <ul class="nav_line no_select">
            {% block nav_line %}
            {% endblock %}
        </ul>
        {% capture nav_search_html %}
            <div class="nav_search">
                <form action="/" method="post" id="search_form" onsubmit="return do_search(this);">
                    <input name="keyword" type="text" id="keyword" style="width:400px"/>
                    <input name="" type="submit" value="{% trans 'Search' %}"/>
                </form>
            </div>
        {% endcapture %}
        <script language="javascript" type="text/javascript">
            var nav_search_html = [];
            nav_search_html = {{ nav_search_html|json_lines_array }};
            document.write(nav_search_html.join(' '));
            nav_search_html = undefined;
        </script>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="footer_links f-left no_select">
            <div class="footer_link">
                <a href="http://osu.ppy.sh">{% trans 'Official osu! Website' %}</a>
            </div>
            <div class="footer_link">
                <a href="{% url 'website:disclaimer' %}">{% trans 'Disclaimer' %}</a>
            </div>
        </div>
        <div class="f-right light">
            <span>{% now "DATETIME_FORMAT" %}</span>
        </div>
    </footer>
</div>
</body>
</html>
