{% extends "website/base.html" %}
{% load i18n %}
{% block nav_line %}
    <li class="nav_item"><a href="{% url 'website:index' %}">{% trans 'Home' %}</a></li>
    <li class="right">»</li>
    <li class="nav_item nav_item_selected"><a href="{% url 'website:disclaimer' %}">{% trans 'Disclaimer' %}</a></li>
{% endblock %}

{% block content %}
    <div class="home_des" id="disclaimer">
        <h1>{% trans 'Disclaimer' %}</h1>

        <p>
            {% blocktrans %}
                We do NOT claim ownership or copyright on any content that is provided on this site.
                All content is originally uploaded by osu! users and copyright of all beatmaps and content included by
                the
                beatmaps belongs to the original authors.
                We provide all content as-is and can NOT be held responsible for the content.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}