{% extends "website/base.html" %}
{% load i18n %}
{% block nav_line %}
    <li class="nav_item"><a href="{% url 'website:index' %}">{% trans 'Home' %}</a></li>
    <li class="right">»</li>
    <li class="nav_item nav_item_selected"><a href="{% url 'website:disclaimer' %}">{% trans 'Disclaimer' %}</a></li>
{% endblock %}

{% block content %}
    <div class="home_des" id="disclaimer">
        <h1>{% trans 'Disclaimer' %}</h1>
        {% include 'website/disclaimer-content.html' %}
    </div>
{% endblock %}