{% extends "website/base.html" %}
{% load i18n %}
{% load osu_images %}
{% block title %}{% trans 'Download' %} {{ beatmap.id }} {{ beatmap.artist }} - {{ beatmap.title }}{% endblock %}
{% block nav_line %}
    <li class="nav_item"><a href="{% url 'website:index' %}">{% trans 'Home' %}</a></li>
    <li class="right">»</li>
    <li class="nav_item"><a
            href="{% url 'website:listing' 0 0 1 %}">{% trans 'Listing' %}</a></li>
    <li class="right">»</li>
    <li class="nav_item"><a
            href="{% url 'website:item' beatmap.id %}">{{ beatmap.id }} {{ beatmap.artist }} - {{ beatmap.title }}</a>
    </li>
    <li class="right">»</li>
    <li class="nav_item nav_item_selected">
        <a href="{% url 'website:download' beatmap.id %}">{% trans 'Download' %}</a>
    </li>
{% endblock %}

{% block content %}
    <header class="bm_title"><span>{{ beatmap.artist }} - {{ beatmap.title }}</span></header>
    <article id="bm_download_content">
        <div id="bm_info_preview_img">
            <img id="bm_download_preview" src="{{ beatmap.id|osu_thumb_large }}" width="160" height="120"
                 alt="Preview Image"
                    />
        </div>
        <div id="bm_download_list">
            <p id="bm_download_hint">{% trans 'To save on download time, it is recommended to choose a mirror site closest to your location.' %}</p>

            {% if beatmap.download_set.count %}
                <ul>
                    {% for download in beatmap.download_set.all %}
                        <li class="mirror_site_item">
                            <a class="mirror_link" rel="nofollow"
                               href="{{ download.url }}"> {% trans download.server.name %}
                                <span class="country">{% trans download.server.location %}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {% if proxy_download_servers %}
                    <script language="javascript" type="text/javascript">
                        if (undefined != renderProxyDownloadServer) {
                            {% for proxy_download_server in proxy_download_servers %}
                                renderProxyDownloadServer({
                                            'sourceIndex': {{ proxy_download_server.source_server_index|escapejs }},
                                            'regex': '{{ proxy_download_server.regex|escapejs }}',
                                            'replace': '{{ proxy_download_server.replace|escapejs }}',
                                            'name': '{{ proxy_download_server.name|escapejs }}',
                                            'location': '{{ proxy_download_server.location|escapejs }}'
                                        }
                                );
                            {% endfor %}
                        }
                    </script>
                {% endif %}
            {% else %}
                <p style="font-size: 80%; color:grey;">{% trans 'No mirrors available. Please check back later.' %}</p>
            {% endif %}
        </div>
    </article>
{% endblock %}