<div class="home_des" id="whats_osu">
    <h1>What's osu?</h1>

    <p>osu! gameplay is based on a variety of popular commercial rhythm games. While keeping some authentic
        elements, osu! adds huge customisation via skins/beatmaps/storyboarding, online rankings, multiplayer
        and
        boasts a community with over 100,000 active users! Play the way you want to play, with your own music,
        and
        share your creations with others.</p>
</div>
<div class="home_des" id="whats_beatmaps">
    <h1>What is a beatmap?</h1>

    <p>Also called map for short, they are game levels in osu!, like the stages in the DS games. In their most
        basic
        form, beatmaps have a song and Hit Circles, Sliders, and/or Spinners placed according to the rhythm of
        the
        music, but they can also have a background image or video, or even a Storyboard. Creators of beatmaps
        are
        called beatmappers or mappers for short. Beatmaps are uploaded for everyone to see and play with using
        the
        BSS, and are then modded. If/Once a beatmap is deemed good enough, it is ranked or, if fulfilling
        certain
        criteria, approved.</p>

    <p>On this site there are only ranked beatmaps to download.</p>
</div>