{% extends "website/base.html" %}
{% load i18n %}
{% load difficulties_splitter %}
{% load capture %}
{% load osu_images %}
{% block title %}
    {% trans 'Listing' %}
    {% if genre_id or language_id %}
        -
        (
        {% if genre_id %}{% trans 'Genre' %}:{% trans genre.caption %}{% endif %}
        {% if genre_id and language_id %} / {% endif %}
        {% if language_id %}{% trans 'Language' %}:{% trans language.caption %} {% endif %}
        )
    {% endif %}
    - {% blocktrans %}Page {{ page_id }}{% endblocktrans %}
{% endblock %}
{% block nav_line %}
    <li class="nav_item"><a href="{% url 'website:index' %}">{% trans 'Home' %}</a></li>
    <li class="right">»</li>
    {% if genre_id or language_id %}
        <li class="nav_item"><a
                href="{% url 'website:listing' 0 0 1 %}">{% trans 'Listing' %}</a></li>
        <li class="right">»</li>
    {% endif %}
    <li class="nav_item nav_item_selected"><a
            href="{% url 'website:listing' genre_id language_id page_id %}">{% trans 'Listing' %}
        {% if genre_id or language_id %}
            (
            {% if genre_id %}{% trans 'Genre' %}:{% trans genre.caption %}{% endif %}
            {% if genre_id and language_id %} / {% endif %}
            {% if language_id %}{% trans 'Language' %}:{% trans language.caption %} {% endif %}
            )
        {% endif %}

        - {% blocktrans %}Page {{ page_id }}{% endblocktrans %}</a>
    </li>
{% endblock %}

{% block content %}

    {% capture paginator %}
        <!-- Begin paginator -->
        <aside class="page_switch">
            <ul>
                {% if beatmaps.has_previous %}
                    <li class="page_prev">
                        <a href="{% url 'website:listing' genre_id language_id beatmaps.previous_page_number %}">
                            {# Translators: Previous Page #}
                            {% trans 'Prev' %}
                        </a>
                    </li>
                {% endif %}
                {% for page_num in pages %}
                    {% if page_num %}
                        <li class="page_link">
                            {% if page_num != beatmaps.number %}
                                <a href="{% url 'website:listing' genre_id language_id page_num %}">
                            {% endif %}
                            {{ page_num }}
                            {% if page_num != beatmaps.number %}
                                </a>
                            {% endif %}
                        </li>
                    {% else %}
                        <li class="page_ellipsis"><span>...</span></li>
                    {% endif %}
                {% endfor %}
                {% if beatmaps.has_next %}
                    <li class="page_next">
                        <a href="{% url 'website:listing' genre_id language_id beatmaps.next_page_number %}">
                            {# Translators: Previous Page #}
                            {% trans 'Next' %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </aside>
        <!-- End paginator -->
    {% endcapture %}

    {{ paginator }}

    <article class="listing_content">
        {% for item in beatmaps %}
            <div class="listing_item">
                <a class="listing_img_link" href="{% url 'website:item' item.id %}"><img
                        src="{{ item.id|osu_thumb_small }}"
                        class="listing_item_img" alt="{{ item.title }}" width="80"
                        height="60"/></a>

                <div class="listing_item_content">
                    <div class="listing_item_title">
                        <a href="#" class="item_artist">{{ item.artist }}</a>
                        <span> - </span>
                        <a href="{% url 'website:item' item.id %}" class="item_title">{{ item.title }}</a>
                    </div>
                    <div class="listing_item_creator">
                        {% trans 'mapped by' %} <a href="{% url 'website:user' item.creator %}">{{ item.creator }}</a>
                    </div>
                    <div class="right-info">
                        <a href="{% url 'website:listing' item.genre.id 0 1 %}"
                           class="tag_link">{% trans item.genre.caption %}</a>
                        <a href="{% url 'website:listing' 0 item.language.id 1 %}"
                           class="tag_link">{% trans item.language.caption %}</a>
                    </div>
                    <div class="listing_item_difficulties no_select">
                        {% for difficulty in item.difficulties|split_difficulties %}
                            <div class="difficulty d_{{ difficulty }}"></div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        {% endfor %}
    </article>

    {{ paginator }}

{% endblock %}